<section class="section">

  <i class="material-icons with-title">article</i>
  <h2 class="subtitle is-inline">Logs</h2>

  <div class="is-divider"></div>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="field is-grouped">
          <div class="control">
            <a routerLink="form" class="button is-primary">
              <i class="material-icons with-label">add</i>
              <span>Novo</span>
            </a>
          </div>
          <div class="control">
            <a routerLink="upload" class="button">
              <i class="material-icons with-label">file_upload</i>
              <span>Pelo arquivo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="field has-addons">
        <div class="control has-icons-left" style="width: 300px">
          <input appDebounceKeyup (afterDebounce)="filtrar()" [(ngModel)]="filtroPeloIP" class="input"
            placeholder="Filtrar pelo IP" />
          <span class="icon is-left">
            <i class="material-icons">search</i>
          </span>
        </div>
        <div class="control">
          <a (click)="limparFiltro()" class="button is-primary tooltip" data-tooltip="Limpar">
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page.content.length > 0">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th style="width: 5%">ID</th>
          <th>Data de cadastro</th>
          <th>Data</th>
          <th>IP</th>
          <th>Status</th>
          <th>Request</th>
          <th>Extraido de arquivo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page.content;">
          <td>{{ item.id }}</td>
          <td>{{ item.dataCadastro | date: formatterHelper.DATE_BR}}</td>
          <td>{{ item.data | date: formatterHelper.DATE}}</td>
          <td>{{ item.ip }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.request }}</td>
          <td>
            <div class="tags">
              <span *ngIf="item.nomeArquivo" class="tag">Sim</span>
              <span *ngIf="item.nomeArquivo" class="tag">{{ item.nomeArquivo }}</span>
              <span *ngIf="!item.nomeArquivo" class="tag">Não</span>
            </div>
          </td>
          <td>
            <div class="buttons are-normal">
              <a class="button" (click)="abrirModalDetalhes(item)" data-tooltip="Editar">
                <i class="material-icons">visibility</i>
              </a>
              <a [routerLink]="['form', item.id]" class="button">
                <i class="material-icons">edit</i>
              </a>
              <a class="button tooltip" (click)="abrirModalRemocao(item)" data-tooltip="Remover">
                <i class="material-icons">delete</i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="column is-10">
      <mat-paginator [length]="page.totalElements" [pageIndex]="page.number - 1" [pageSize]="page.size"
        [pageSizeOptions]="[12, 24, 36]" [showFirstLastButtons]="true" (page)="pageEvent = handlePage($event)">
      </mat-paginator>
    </div>

  </div>

  <div *ngIf="page.content.length === 0">
    <p>Nenhum item cadastrado.</p>
  </div>

  <div class="modal {{modalDetalhes}}" *ngIf="log">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%">
      <header class="modal-card-head">
        <p class="modal-card-title">Detalhes do Log de ID: {{log.id}}</p>
        <button class="delete" aria-label="close" (click)="fecharModal()"></button>
      </header>
      <section class="modal-card-body">
        <div class="tags are-medium">
          <span class="tag is-default"><b>Data:</b> &nbsp; {{ log.data | date: formatterHelper.DATE }}</span>
          <span class="tag is-default"><b>IP:</b> &nbsp; {{ log.ip }}</span>
          <span class="tag is-default"><b>Status:</b> &nbsp; {{ log.status }}</span>
          <span class="tag is-default"><b>Request:</b> &nbsp; {{ log.request }}</span>
        </div>
        <div class="tags are-medium">
          <span class="tag is-default"><b>User agent:</b> &nbsp; {{ log.userAgent }}</span>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="fecharModal()">Fechar</button>
      </footer>
    </div>
  </div>

  <div class="modal {{modalRemocao}}" *ngIf="log">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Atenção</p>
      </header>
      <section class="modal-card-body">
        Deseja realmente remover o Log de ID: {{log.id}} ?
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="confirmarRemocao()">Sim</button>
        <button class="button" (click)="fecharModal()">Não</button>
      </footer>
    </div>
  </div>

</section>